// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$background-color-body: #fafcfe;
$body-text-color: #112d4e;
$navbar-link-active: #112d4e;
$navbar-background-color: white;
$navbar-inactive: #dbe2ef;
$default-text-color: #dbe2ef;
$profile-default-color: #112d4e;
$blur-text: #c4c3c7;
